.video-element {
  margin-top: 200px;

  .video-wrapper {
    @include aspect-ratio(21,9);
    position: relative;
    overflow: hidden;
    width: 100%;
    background: #000;

    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%,-50%);
    }
  }

  figure {
    position: relative;

    &::before {
      width: 120px;
      height: 120px;
      background: rgba($color-neutral-brightest,.5);
      border: 10px solid $color-neutral-brightest;
      color: $color-neutral-brightest;
      text-align: center;
      line-height: 120px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      content: '\f04b';
      font-family: 'FontAwesome';
      font-size: 24px;
    }

    img {
      display: block;
      height: auto;
    }
  }
}
